<div class="mt-4">
    <h3>Đăng kí khóa học</h3>
    <form method="post" action="/courses/store">
        <div class="form-group">
            <label for="inputEmail4">Tên</label>
            <input type="text" class="form-control" name="name" id="inputEmail4" placeholder="Please enter a name">
        </div>
        <div class="form-group">
            <label for="inputAddress">VideoId</label>
            <input type="text" class="form-control" id="inputAddress" name="videoId" placeholder="ex 384jdjf9">
        </div>
        <div class="form-group">
            <label for="inputAddress">Hình ảnh</label>
            <input type="text" class="form-control" id="inputAddress" name="img" placeholder="img">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Mô tả</label>
            <textarea class="form-control" name="desc" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>